version: 2
registries:
  familie-felles:
    type: maven-repository
    url: https://maven.pkg.github.com/navikt/fp-felles/
    username: x-access-token
    password: "${{secrets.READER_TOKEN}}"

updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: weekly
      day: "sunday"
      time: "04:00"
    cooldown:
      default-days: 4
      exclude:
        - "no.nav.familie*"
    open-pull-requests-limit: 10
    registries:
      - familie-felles
    groups:
      all-dependencies:
        patterns:
          - "*"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      day: "sunday"
      time: "04:00"
    cooldown:
      default-days: 4
      exclude:
        - "no.nav.familie*"
    groups:
      workflows:
        patterns:
          - "*"
