version: 2
registries:
  familie-felles:
    type: maven-repository
    url: https://maven.pkg.github.com/navikt/fp-felles/
    username: x-access-token
    password: "${{secrets.READER_TOKEN}}"

updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: weekly
      day: "sunday"
      time: "04:00"
    open-pull-requests-limit: 10
    registries:
      - familie-felles
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      day: "sunday"
      time: "04:00"
